<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="user" class="com.chenxi.springiocaop.ioc.User" />
    <bean id="userDao" class="com.chenxi.springiocaop.ioc.UserDaoImpl" />
    <bean id="userService" class="com.chenxi.springiocaop.ioc.UserService">
        <property name="userDao" bean="userDao" />
    </bean>
</beans>